* {
  box-sizing: border-box;
}

body {
  background-image: url(imagenes/astronauta.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  font-family: 'Space Mono', monospace, Helvetica;
}

div.caja_transparente {
  background-color: #ffffff;
  border: 1px solid white;
  margin: 20px;
  margin-bottom: 20px;
  opacity: 0.8;
}

div.caja_transparente p {
  color: black;
  font-weight: bold;
  margin: 2%;
}

h1 {
  font-family: 'Space Mono', monospace;
  font-size: 40px;
  padding-top: 10px;
  text-align: center;
  text-decoration: underline white;
  text-transform: uppercase;
}

h1 strong {
  color: white;
}

h2 {
  font-family: 'Space Mono', monospace;
  font-weight: bold;
}

.input_peso {
  text-align: center;
}

.demo {
  font-family: 'Space Mono', monospace;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  text-align: center;
}

.sistema {
  align-content: space-around;
  border: 1px;
  border-style: none;
  display: flex;
  flex-basis: 30%;
  flex-wrap: wrap;
  height: 260px;
  justify-content: center;
  text-align: center;
  width: 300px;
  object-position: center;
}

.gravedad {
  font-family: 'Space Mono', monospace;
  font-weight: bold;
  text-align: center;
}

.grid_img {
  display: flex;
  height: 120px;
  object-fit: cover;
  width: 120px;
}

/* For mobile phones: */
[class*="col- caja_transparente"] {
  width: 100%;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  border: none;
}

.row::after {
  content: "";
  clear: both;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 97%;}
  .col-s-12 {width: 100%;}
}

[class*="col-"] {
  float: left;
  padding: 15px;
  border: none;
}

.row::after {
  content: "";
  clear: both;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 97%;}
  .col-12 {width: 100%;}
}

[class*="col-"] {
  float: left;
  padding: 15px;
  border: none;
}

.row::after {
  content: "";
  clear: both;
}
